= simple_form_for @pin, html: {multipart: true} do |f|
  - if @pin.errors.any?
    #errors
      %h2
      = puralize(@pin.errors.count, 'error')
      prevent this for saving
      %ul
        - @pin.errors.each do |msg|
          %li= msg
  .form-group
    = f.input :title, input_html: {class: 'form-controll'}
  .form-group
    = f.input :description, input_html: {class: 'form-controll'}
  = f.button :submit, class: 'btn btn-primary'  
