
     <div class="list-group panel">
      <a href="#accord_ticket" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Tickets</a>
      <div class="collapse" id="accord_ticket">

        <%= link_to "Criar novo", new_ticket_path,
             class: "list-group-item"  %>
        <a href="javascript:;" class="list-group-item">
          Ver recentes <span class="badge">7</span>
        </a>
          <i class="icon-large icon-bell"></i>
          <%= link_to "Pesquisar soluções", edit_user_registration_path(current_user),
               class: "list-group-item"  %>
      </div>

      <a href="#accord_relatorio" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Relatórios</a>
      <div class="collapse" id="accord_relatorio">
        <%= link_to "Por empresa", edit_user_registration_path(current_user), class: "list-group-item"  %>
        <%= link_to "Por atendente", edit_user_registration_path(current_user), class: "list-group-item"  %>
        <%= link_to "Por mes", edit_user_registration_path(current_user), class: "list-group-item"  %>

      </div>

      <a href="#accord_usuario" class="list-group-item list-group-item-info" data-toggle="collapse" data-parent="#MainMenu">Usuários</a>
      <div class="collapse" id="accord_usuario">
        <%= link_to "Gerenciar usuários", edit_user_registration_path(current_user), class: "list-group-item"  %>
        <%= link_to "Editar meus dados", edit_user_registration_path(current_user), class: "list-group-item"  %>

      </div>
    </div>
  </div>
