!!! 5
%html
  %head
    %title
      = content_for?(:title) ? content_for(:title) : "Suport Help"
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      - flash.each do |type, message|
        %div{:class => "alert #{bootstrap_class_for(type)} alert-dismissable fade in"}
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
          = message
    .container
      .row
        = yield
