<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @admin_role.user %>
</p>

<p>
  <strong>Master:</strong>
  <%= @admin_role.master %>
</p>

<%= link_to 'Edit', edit_admin_role_path(@admin_role) %> |
<%= link_to 'Back', admin_roles_path %>
