%table{id: 'tickets_list', class: 'table'}
  %thead
    %tr
      %td ID:
      %td Criado em:
      %td Status:
      %td systema:
      %td Prazo:
  %tbody
    %tr
      %td= @ticket.id
      %td= @ticket.created_at.strftime('%d/%m/%Y - %H:%M')
      %td= @ticket.status_description
      %td= @ticket.system_description
      %td= dead_line(@ticket.created_at)
    %tr
      %td{colspan: 5}
        = simple_form_for(@ticket, url: update_category_path(@ticket.id)) do |f|
          = f.label 'Categoria:'

          - if can?(:attend, :ticket) && !@ticket.canceled_or_finished?
            = f.collection_select :category_id, Category.by_system(@ticket.system_id),
             :id, :description,
            { include_blank: false}, {class: 'form-control'}
            = f.submit 'alterar', class: 'label-error', id: :change_category
          - else
            = f.collection_select :category_id, Category.by_system(@ticket.system_id),
             :id, :description,{ include_blank: false}, {class: 'form-control', disabled: true}
    %tr
      %td{colspan: 5}
        = simple_form_for(@ticket, url: {action: 'update_priority'}) do |f|
          = f.label 'Criticidade'
          - if can?(:attend, :ticket) && !@ticket.canceled_or_finished?
            = f.collection_select :priority_id, Priority.all, :id, :description,
            {include_blank: false}, class: 'form-control'
            = f.submit 'alterar', class: 'label-error', id: :change_priority if can? :attend, :ticket
          - else
            = f.collection_select :priority_id, Priority.all, :id, :description,
            {include_blank: false}, {class: 'form-control', disabled: true}
