= title 'Seu ticket'
.row
  .col-md-10.col-md-offset-1
    .panel.panel-default
      .panel-heading
        %h4
          Ticket:
          = @ticket.title
        - if @ticket.finished?
          = simple_form_for(@ticket, url: ticket_reopen_path(@ticket.id)) do |f|
            = f.submit 'Reabrir', {class: 'btn btn-info btn-xs'}
        - else
          = simple_form_for(@ticket, url: cancel_or_finish_path(@ticket.id)) do |f|
            - if current_user == @ticket.incharge
              = f.submit 'Encerrar', {class: 'btn btn-warning btn-xs'}
            = f.submit 'Cancelar', {class: 'btn btn-warning btn-xs'}
      = render 'show_form'

.container
  .row
    .col-md-2
    .col-md-3
      = image_tag @ticket.creator.avatar.url, class: 'img-circle', size: '100x100'
      %strong= @ticket.creator.name
    .col-md-2
    .col-md-4.col-md-offset-1
      - if @ticket.incharge
        = image_tag @ticket.incharge.avatar.url, class: 'img-circle', size: '100x100'
        %strong= @ticket.incharge.name
      -else
        = image_tag "def_avatar.jpg", class: 'img-circle', size: '100x100'
        %strong Aguardando atendente
        .row
          .col-md-offset-1
            = simple_form_for(@ticket, url: get_in_charge_path(@ticket.id)) do |f|
              = f.submit 'atender', class: 'btn btn-success btn-xs'
  .page-header
  %ul.timeline
    %li
      .timeline-badge
        %i.glyphicon.glyphicon-check
      .timeline-panel
        .timeline-heading
          %h4.timeline-title Descrição do problema
          %p
            %small.text-muted
              %i.glyphicon.glyphicon-time
              = @ticket.created_at.strftime("%d/%m/%Y - %H:%M")
        .timeline-body
          %p= @ticket.description

    = render @ticket.comments

    = render "comments/form"
