-if comment.user == @ticket.creator
  %li
    .timeline-badge.info
      %i.glyphicon.glyphicon-credit-card
    .timeline-panel
      .timeline-heading
        /%h4.timeline-title Mussum ipsum cacilds
      %p
        %small.text-muted
          %i.glyphicon.glyphicon-time
          = @ticket.created_at.strftime("%d/%m/%Y - %H:%M")
      .timeline-body.li-left-box
      %p= comment.content
-else
  %li.timeline-inverted
    - if comment.automatic?
      .timeline-badge.warning
        %i.glyphicon.glyphicon-credit-card
    - else
      .timeline-badge.info
        %i.glyphicon.glyphicon-credit-card
    .timeline-panel.li-right-box
      .timeline-heading
        %h4.timeline-title
          - if comment.automatic?
            MENSAGEM AUTOMÁTICA DO SISTEMA
          - else
            Comentário de
            = comment.user_name
      %p
        %small.text-muted
          %i.glyphicon.glyphicon-time
          = @ticket.created_at.strftime("%d/%m/%Y - %H:%M")
      .timeline-body
      %p= comment.content
